{% extends 'base/index.html' %}

{% block content %}
    <div class="form-box">
        <div class='input-field'>
            <p>Su busqueda es:</p>
            <ul>
                {% for var in query.items%}
                    <li>{{var.0}}:{{var.1}}</li>
                {% endfor%}
            </ul> 
        </div>
        {% if documents %}
            <ul class='input-field'>
            {% for doc in documents.items%}
                {%if doc%}
                    <li> {{doc.0}}:{{doc.1}} </li>
                {%endif%}
            {% endfor %}
            </ul>
        {%else%}
            <p class='input-field'>No esta el documento buscado</P>   
        {% endif %}
    </div>
{% endblock content %}
