{% load static %}
<!DOCTYPE html>

<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Amigos Del Pais</title>
    <link rel="stylesheet" href= "{% static 'style.css' %}">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
</head>

<body>
    <div class="full-page">
        <div class="navbar">
            <nav>
                <ul id="MenuItems">
                    <li><a href="/">Pagina Principal</a></li>
                    <li><a href="#">Conoce Nuestra Historia</a></li>
                    <li><a href="Search">Busca un documento</a></li>
                    
                    {% if user.is_authenticated %}
                    <li><a href="#">Mi Cuenta</a></li>
                    <li><a href="new">Nuevo Documento</a></li>
                    <li><a href="/LogOut">Salir</a></li>

                    {% else %}
                    <li><a href="Sign">Registrarse/Autenticarse</a></li>
                    {% endif %}

                </ul>
            </nav> 
        </div>
        {% block content %}
        {% endblock content %}
    </div>
</body>
</html>