{% load static %}
<!DOCTYPE html>

<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Amigos Del Pais</title>
    <link rel="stylesheet" href= "{% static 'style.css' %}">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
</head>

<body>
    <div class="full-page">
        <div class="navbar">
            <nav>
                <ul id="MenuItems">
                    <li><a href="/">Pagina Principal</a></li>
                    <li><a href="#">Conoce Nuestra Historia</a></li>
                    <li><a href="Search">Busca un documento</a></li>
                    
                    {% if user.is_authenticated %}
                    <li><a href="#">Mi Cuenta</a></li>
                    <li><a href="new">Nuevo Documento</a></li>
                    <li><a href="/LogOut">Salir</a></li>

                    {% else %}
                    <li><button class="loginbtn" onclick="document.getElementById('login-form').style.display = 'block'" style="width:auto;">Registrarse/Autenticarse</button></li>
                    {% endif %}

                </ul>
            </nav> 
        </div>
        {% block content %}
        <div id="login-form" class="login-page">
            <div class="form-box">
                <div class="button-box">
                    <button type="button" onclick="login()" class="toggle-btn">Autenticarse</button>
                    <button type="button" onclick="register()" class="toggle-btn"> Registrarse</button>
                </div>

                <form action="/SignIn" method="POST" id="login" class="input-group-login">
                    {% csrf_token %}
                     
                        <input type="text" class="input-field" id="username" name="username" placeholder="Nombre de usuario" required> 
                        <br>
                        
                        <input type="password"  class="input-field" id="pass" name="pass" placeholder="Escriba su contraseña" required>
                        <br>
                    
                        <button type="submit" class="submit-btn">Autenticarse</button>
                    
                    </form>

                    <form action="/SignUp" method="POST" id="register" class="input-group-register">
                        {% csrf_token %}
                        
                            <input type="text" class="input-field" id="username" name="username" placeholder="Nombre de usuario(solo letras y numeros)" required> 
                            <br>
                          
                            <input type="text" class="input-field" id="fname" name="fname" placeholder="Escriba su primer nombre" required>
                            <br>
                        
                            <input type="text" class="input-field" id="lastname" name="lastname" placeholder="Escriba su primer apellido" required>
                            <br>
                          
                            <input type="email" class="input-field" id="email" name="email" placeholder="Escriba su correo electrónico" required>
                            <br>
                          
                            <input type="password" class="input-field" id="pass1" name="pass1" placeholder="Escriba su contraseña" required>
                            <br>
                           
                            <input type="password" class="input-field" id="pass2" name="pass2" placeholder="Confirme la contraseña" required>
                            <br>
                         
                            <button type="submit" class="submit-btn">Registrarse</button>
                        
                        </form>

            </div>
        </div>
    </div>

    <script>
        var x=document.getElementById('login');
		var y=document.getElementById('register');
		var z=document.getElementById('btn');
        //  var p = document.getElementById('search-form');
       // var o = document.getElementById('login-form');
		function register()
		{
			x.style.left='-400px';
			y.style.left='50px';
			z.style.left='110px';
           // p.hidden;
		}
		function login()
		{
			x.style.left='50px';
			y.style.left='450px';
			z.style.left='0px';
           // p.hidden;
		}
	</script>
	<script>
        var modal = document.getElementById('login-form');
        window.onclick = function(event) 
        {
            if (event.target == modal) 
            {
                modal.style.display = "none";
            }
        }
    </script>
    {% endblock content %}
</body>
</html>